# Project folders
vendor/
node_modules/

# Build files
build/

# Temporary files
.DS_Store

# Log files
npm-debug.log

# Language backup files
**/*.po~
**/*.pot~

# Releases
releases/
.release.conf
**/*.zip

# Misc
curl.txt

# Secrets
.nh3-api-token.json

# Environment files
src/env/*.json
!src/env/sample.json
