.wp-block {

    &[data-type^='nh3/'],
    .nh3-mag-blocks-document-selector {
        .components-notice {

            &.is-error,
            &.is-warning,
            &.is-success,
            &.is-info {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
                margin: 0;
                padding: 6px 12px;

                .components-notice__content {
                    font-size: 13px;
                    line-height: 1.3em;
                    margin: 8px 0;
                }
            }
        }
    }

    /*
  Remove bold/italic/link/etc toolbar
  &[data-type='core/paragraph'],*/
    &[data-type='core/quote'] {

        .editor-block-toolbar {

            &>.components-toolbar,
            &>.editor-format-toolbar {
                display: none;
            }
        }
    }

    &[data-type='core/heading'] {
        .editor-block-toolbar {

            &>.editor-format-toolbar {
                display: none;
            }
        }

    }
}

// This hide the "Inline Elements" section in the block selector
// This is necessary to hide the "Inline Image" block, that is currently (2019-05-27) authorized when the 'core/paragraph' block is authorized
.editor-inserter__inline-elements {
    display: none;
}
