$white: #fff;
$black: #000;
$error-color: #d94f4f;

@mixin block-with-url-input {
  .nh3-mag-blocks-url-input>div {
    opacity: .5;
  }

  &.is-selected,
  &.is-typing {
    .nh3-mag-blocks-url-input>div {
      opacity: 1;
    }
  }
}
