.wp-block-nh3-on-topic-section {
  $margin-bottom: 8px;

  h2 {
    border-bottom: thin solid $black;
    margin-bottom: $margin-bottom;
  }

  h3 {
    font-family: 'Noto Serif';
    font-size: 1.1em;
    margin-bottom: $margin-bottom;
  }

  div {
    &.components-notice {
      &.is-info {
        margin-bottom: $margin-bottom;
      }
    }
  }
}
